       <div class="hero-unit">    

        <h1>Hello, Bloggers!</h1>
        <p>Join us and enjoy the fun and joy in blogging!</p>
        <a class="btn btn-primary btn-large" href="/signup">Sign up &raquo;</a>
       </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">

          <h2>Register</h2>
          <p>Sign up and join the family of blog lovers.</p>
          <p><a class="btn" href="/signup">Register accounts &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Post</h2>
          <p>After signing up, start posting your blogs, sharing your beautiful moments to the rest of the world</p>

          <p><a class="btn" href="/posts">Start blogging &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>RSS Feed</h2>
          <p>RSS feed is available to keep you up-to-date to the latest news in your community</p>
          <p><a class="btn" href="/posts.rss">Get RSS feed &raquo;</a></p>
        </div>

      </div>

      <hr>